* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif, homeFont, Titles, text, Tahoma, David;
}

@font-face {
	font-family: Tahoma;
	src: url('Tahoma.ttf');

	font-family: homeFont;
	src: url('akadylan.ttf');

	font-family: Titles;
	src: url('smallTitles.ttf');

	font-family: text;
	src: url('typerighter.ttf');

	font-family: bold;
	src: url('intransitive.ttf');

	/* inf(all above): Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
	/* colors for .title-text */
	--color-secondary: #FACA78;
	--color-tertiary: #F57F58;
	--color-quaternary: #DD5341;
	--color-quinary: #794A3A;


}

/* code for columns  */
.wrapper {

	padding: 1em;
	width: 95%;
	margin: 1em auto;
}


.columns {
	z-index: 1;

	display: flex;
	flex-flow: row wrap;
	position: relative;
	justify-content: center;
	margin: 1em;
}

.column {
	z-index: 1;
	position: relative;
	border-right: 0.3em double grey;
	flex: 1;
	margin: 1em;
	padding: 2em;
	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
		border-right: 0px;
	}
}

.column h2 {
	z-index: 1;
	margin-bottom: 0.2em;
	font-family: Tahoma;
	text-transform: uppercase;
	font-size: 2vw;
}

/* end of code for columns */

.titles h2 {
	text-align: center;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 600;
	color:transparent;
	font-size: 4rem;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: darkgreen;
	text-transform: uppercase;
	/* font-size: calc(0.2rem + 2vw); */
}

/* line dotted */
hr {
	
	margin: 6em;
	border: none;
	border-top: 0.25rem dotted rgba(0, 0, 0, 0.274);
	text-decoration: none;
}


a {
	cursor: url('cursorp2.cur'), pointer;
	text-decoration: none;
}

ul {
	list-style: none;
}

footer {
	text-align: center;
	padding: 2em;
	background: linear-gradient(190deg, rgb(6, 0, 0, 0.9), rgb(0, 0, 0, 0.8)), url('images/grainy.png');
}

footer h3 {
	color: rgb(186, 176, 171);
}

footer p {
	color: rgb(165, 138, 138);

}

.footer-nav a {
	color: #9e44b7;
	text-decoration: none;
	margin: 0 .5rem;
	display: inline-block;
}

.footer-nav a:hover {
	color: #d584ce;
	transition: color .15s ease-in-out;
}

body {
	cursor: url('cursor2.cur'), auto;
}

.startHome {
	padding: 10% 25% 0%;

	width: 100%;
	align-items: center;
	text-align: center;
}

.startHome h1 {
	margin-bottom: 0.2em;
	font-family: 'poppins';
	font-size: 9vw;

}

.startHome p {
	font-family: 'bold';
	text-transform: capitalize;
	font-size: 3vw;
	font-weight: 400;
	width: 100%;
}


/* boxtypes css  */
.boxType1,
.boxType2 {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	border: 2px solid black;
	box-shadow: 2px 2px black;
	border-radius: 25px;
}

.boxType1 {
	border: 2px solid black;
	box-shadow: 2px 2px black;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.40);
}

.boxType2 {
	border: 2px solid rgb(242, 242, 242);
	box-shadow: 2px 2px rgb(242, 242, 242);
	color: black;
	background: transparent;
}

.boxType3 {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	border: 2px solid black;
	box-shadow: 2px 2px black;
	background: rgba(255, 255, 255, 0.40);
}

/* sidebar css */
label {
	position: fixed;
	z-index: 900;
	cursor: url('cursor2.cur'), pointer;
}

.slide {
	z-index: 12;
	position: relative;
	align-items: center;
	text-align: center;
	overflow: hidden;
	height: 160%;
	width: 100%;
	margin-top: -11em;
	padding: 40px 90px 390px 90px;
	backdrop-filter: blur(2px);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.5s ease;
	transform: translateX(-300px);

}

.navbar {
	z-index: 1000;
	position: relative;
}



.subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 20px 50px;
	background-color: inherit;
	font-family: inherit;
	margin-left: -100px;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
	background-color: #fff;
	color: transparent;
}

.subnav-content {
	display: none;
	position: absolute;
	width: 40%;
	height: 20%;
	z-index: 399;
	left: 0;
	background-color: red;
	width: 100%;
	transform: translateX(-300px);
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav:hover .subnav-content {
	transform: translateX(0);
}

.slide h1 {
	padding-top:1em;

	position: sticky;
	font-weight: 800;
	text-align: right;
	pointer-events: none;
	margin-left: -50px;
	margin-top: 4em;
	margin-bottom: 1em;
	color: #fff;

}


ul li a:hover {
	background-color: #fff;
	color: #000;
}


.active {
	background-color: #fff;
	color: #000;
}

ul li {

	margin-left: -67px;
	padding: 5px;
	letter-spacing: 2px;
	list-style: none;
	margin-bottom: 20px;
}

ul li a {

	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 4px solid transparent;
	transition: 0.5s ease;
}
.main ul li:hover .sub-menu {
	display: block;
	background-color: rgb(0, 45, 117);
	margin-top: 12px;
	margin-left: 20px;
}
.main ul li:hover .sub-menu ul {
	display: block;
	margin: 6px;

}

.main ul li:hover .sub-menu ul li {
	width: 75px;
	position: relative;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: right;
	border-radius: 0;
}

input {
	display: none;
	visibility: hidden;
	/* -webkit-appearance:none; */
	
}


.toggle {

	overflow: visible;
	position: relative;
	z-index: 9000;
	height: 20%;
	margin-left:2em;
	width: 2em;
	top: 1.2em;
	padding-bottom: 2em;
	z-index: 1000;
	border-radius: 2px;
	cursor: url('cursorp2.cur'), pointer;

}

.toggle .common {
	align-items: center;
	position: sticky;
	height: 2px;
	width: 20px;
	background-color: #794A3A;
	transition: 0.3 ease;
	transform: translate(-50%, -50%);
}


/* input:checked~.toggle  {
	/* transition:1s ease;
	transform:scale(0.7);
	margin-left:2.5em; */
/* }  */


input:checked~.slide {
	transform: translate(0);
	height: 100%;
	width: 100px;
}

.flex {
	display: sticky;
	gap: var(--gap, 1rem);
}

.logo {
	margin: 7rem;

}

.backgroundfade {
	background-color: rgba(230, 217, 202, 255);
	/* background: linear-gradient(190deg, rgb(250, 202, 120,0.6),rgb(245, 127, 88,0.75),rgba(221, 83, 65, 0.55),rgba(121, 74, 58, 0.75)),url('images/grainy.png'); */

}

.backgroundFadeTwo {
	background: linear-gradient(190deg, rgb(200, 192, 190, 0.6), rgb(225, 217, 218, 0.75), rgba(211, 213, 215, 0.55), rgba(221, 234, 235, 0.75)), url('images/grainy.png');

}

.container {
	width: 100%;
	min-height: 100vh;
	align-items: center;
	padding: 50px 8%;
}

.imagefull {
	height: 500px;
	z-index: 1;
	position: bottom;
	display: flex;
	width: 90%;
	
	align-items: center;
	transition: all 0.2s;
}

.text-box2 {
	padding-top: 2em;
	align-items: center;
	color: #fff;
	position: relative;

}

.text-box2 h1 {
	text-align: center;
	font-weight: bold;
	font-weight: 900;
	font-size: 5em;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	text-transform: capitalize;
	background: url(images/back.png);
	position: relative;
	background-clip:text;
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 20s linear infinite;
	letter-spacing: 0.1em;
}







.imagefull img {
	width: 100%;
	align-items: center;
	margin-right: 10%;
	margin-top: -7%;
}

.right-text {
	width: 80%;
	z-index: 1;
	margin-left: -5%;
	margin-top: -10em;
}

.right-text h3 {
	font-family: 'Tahoma';

	margin-top: -20%;
	margin-bottom: 21px;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reveal.slide-in-left  {
	transform: translateX(-50px); /* Start off-screen left */
}

.reveal.slide-in-right img {
	transform: translateX(100px); /* Start off-screen right */
}

.reveal.slide-in-up img {
	transform: translateY(100px); /* Start below */
}

/* When active, move to normal position */
.reveal.active.slide-in-left img,
.reveal.active.slide-in-right img,
.reveal.active.slide-in-up img {
	transform: translateX(0) translateY(0); /* Reset position */
}
.reveal {
	position: relative;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.6s ease-out;
}

.reveal.active {
	opacity: 1;
}

.right-text p {
	
	font-family: 'Tahoma';
	letter-spacing: 0.8px;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
	padding-left:15rem;
	padding-right:15rem; 
	margin-top:5em;
}

.gallery img {
	position: bottom;
	transition: all 0.4s;
	box-shadow: 0px 0px var(#0005);
	border: 3px solid var(#191f1d);
	width: 100%;
}

.gallery img:hover {
	transform: scale(1.001);
	box-shadow: inset 0em 100em rgb(215, 193, 122);
	transition: all 0.2s;
}

.waviy {
	width: 80%;
	margin-left: 10%;
	padding-top: 5%;
	text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
		9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
	font-family: canada-type-gibson, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: calc(1rem + 4vw);
	text-align: center;
	margin-bottom: 40px;
	font-size: 3.5em;
}

.waviy span {
	transition: all 1s;
	position: relative;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;

}

.waviy span:hover {
	animation: waviy 1s infinite;
}



@keyframes color {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

@keyframes waviy {

	0%,
	40%,
	100% {
		transform: translateY(1)
	}

	20% {
		transform: translateY(-4px)
	}
}

.text-box {

	position: relative;
	width: 100%;
	text-align: center;
}

.text-box h1 {
	font-family: "Poppins", sans-serif;
	padding: 20px;
	font-weight: bold;
	font-weight: 900;
	font-size: 45px;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	text-transform: capitalize;
	background: url(images/back.png);
	/* -webkit-background-clip: text; */
	background-position: 0px 0px;
	animation: back 20s linear infinite;
	letter-spacing: 3px;
}

@keyframes back {
	100% {
		background-position: 2000px 0;
	}
}

.container {
	display: grid;
	place-items: center;
	margin-inline: 1.5rem;
}

.backdrop {
	box-shadow: 0px 4px 4px 0px #00000040, inset 0 0 0 1000px rgba(0, 0, 0, .5);
	;
}

.backdrop #background-image {

	position: bottom;
	transition: all 0.4s;
	box-shadow: 0px 0px var(#0005);
	border: 3px solid var(#191f1d);
	width: 100%;
}



/* new code */



.image-left {
	display: inline-block;
	margin : 1em 2em 3em 4em;
	z-index: 1;
	position: bottom;
	width: 40%;
	transition: all 0.2s;
}
.image-left img{
	width: 100%;
	align-items: center;
}
.text-right{
		float:right;
		width: 50%;
	}
/* .text */
.text-right p {
	margin-left:-10em;
}

	
	.text-right h3 {
		font-family: 'Tahoma';
	
	}